#wrapper {
  margin: 20px 0;
}

.summary {
  padding: 5px;
  margin-bottom: 10px;
}

.nomarl-line code,
.line .col{
  color: grey;
}

.error-item-code,
.error-set{
  margin-left:10px;
}

.error-item{
  margin-bottom: 10px;
}

.error-item-code{
  background-color: #faf2cc;
}

.hightlight-col{
  background-color:yellow;
}

