#wrapper {
  margin: 2em 0;
}

.topbar{
  position:;
}

.reporters{
  padding-top: 40px;
}

.summary {
  padding: .5em;
}

.nomarl-line code,
.line .col{
  color: grey;
}

.error-item-code,
.error-set{
  margin-left: 1em;
  margin-right: 1em;
}

.error-item{
  margin-bottom: .5em;
  margin-top: .5em;
}

.error-item-code{
  background-color: #faf2cc;
}

.hightlight-col{
  background-color:yellow;
}

.reporter-app .label{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.reporter-app .navbar-fixed-top .label {
  padding: .4em .6em .5em;
  line-height: initial;
}

.reporter-app .reporter .label {
  margin: 0 .2em;
  padding: .33em .33em;
}

.reporter-app .label-default{
  background-color:#ABABAB;
}

.reporter-app .reporter .label.char-label{
  padding: .1em .3em;
  margin: 0 .2em;
}


.reporter-app .badge.error{
  background-color:#d9534f;
  color: #fff;
}

.error-item-msg-text{
  font-size: 90%;
  color: #d9534f;
  margin-left:1em;
}
